{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block content %}
  <div class="w-panel">
    <h1>🕓 Merged History for {{ root_page.get_admin_display_title }}</h1>

    <form
      method="get"
      class="w-slim-header__search-form"
      role="search"
      novalidate
      data-controller="w-swap"
      data-action="change->w-swap#submitLazy input->w-swap#submitLazy"
      data-w-swap-target-value="#listing-results"
      data-w-swap-src-value="{{ request.path }}"
      data-w-swap-reflect-value="true"
    >
      <div
        id="filters-drilldown"
        class="w-drilldown"
        data-controller="w-drilldown"
        data-action="w-swap:success@document->w-drilldown#updateCount w-dropdown:hide->w-drilldown#delayedClose w-dropdown:clickaway->w-drilldown#preventOutletClickaway"
        data-w-drilldown-count-attr-value="data-w-active-filter-id"
        data-w-drilldown-w-action-outlet="[data-w-active-filter-id][data-controller='w-action']"
        data-w-drilldown-w-dropdown-outlet="#filters-drilldown [data-controller='w-dropdown']"
      >
        {% include "wagtailadmin/shared/headers/_filters.html" %}
      </div>
    </form>


    
    <div id="listing-results">
      {% include "wagtail_unified_history/includes/merged_history_results.html" %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  {{ filters.form.media.js }}
  <script src="{% versioned_static 'wagtailadmin/js/vendor/jquery-3.6.0.min.js' %}"></script>
  <script src="{% versioned_static 'wagtailadmin/js/wagtailadmin.js' %}"></script>
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  {{ filters.form.media.css }}
{% endblock %}


